<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProyectoIOSFinal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C836A7E71EB3BD1C00498C11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C836A7FE1EB3BD2000498C11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C836A8091EB3BD2000498C11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
